@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}

html, body, #root {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
